{% load timedelta_filter %} 

<style>
    table, th, td {
        border: 1px solid black;
      }
</style>
<h1>{{time.username}}</h1>
<table>
    <tr>
        <th>Date</th>
        <th>Time In</th>
        <th>Time Out</th>
        <th>Hours</th>
        <th>Accomplishments</th>
        <th>Action</th>
    </tr>
    {%for shit in time.dtr.all|dictsort:'date'%}
    <tr>
        <td>{{shit.date}}</td>
        <td>{{shit.time_in|time:'h:i A'}}</td>
        <td>{{shit.time_out|time:'h:i A'}}</td>
        <td>{{shit.diff}}</td>
        <td>{{shit.desc}}</td>
        <td>
            <button onclick="location.href='/edit/{{shit.id}}'">Edit</button>
            <button onclick="location.href='/deleteproc/{{shit.id}}'">Delete</button>
        </td>
    </tr>
    {%endfor%}
    <tr>
        <td colspan="3">TOTAL</td>
        <td>
            {% if time.dtr.all|length > 0 %}
            {%for key, val in total.items%}
            {{ val|timedelta:"{hours_total}:{minutes2}" }}
            {%endfor%}
            {%endif%}
        </td>
    </tr>
</table>

<br>

<form action="addtime/" method="post">{%csrf_token%}
    <label for="date">Date</label>
    <input type="date" name="date">

    <label for="time-in">Time-in</label>
    <input type="time" name="time-in">

    <label for="time-out">Time-out</label>
    <input type="time" name="time-out">

    <label for="desc">Accomplishments</label>
    <input type="text" name="desc">

    <button type="submit">add</button>
</form>

<button onclick="location.href='/logout/'">Logout</button>